html, body {
    padding: 0;
    margin: 0;

    
}

* {
box-sizing: border-box;
}





body {
    background-color: #1e1e1e;
    color: #e1e1e1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
    padding: 20px;
    background-color: rgb(173, 172, 172);

}

.card .img img {
    max-width: 220px;
}